__pypackages__/
*.log
pip-log.txt
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.crt
*.key
*.pub
*.csr
*.sig
*.wav
*.priv
.claude/
.claude.json

.bash_history
.venv
.viminfo
.vim/
.ssh/
.swp
.shadowsocks
.cache
.wget-hsts
.lesshst
.links
.links2
.ssh
.dotnet
.vscode-server
.bashrc


.config
.gitconfig
.python_history
.selected_editor


local_test_config.ini
.sqlite_history
.cach
.local


usr/local/pproxy/setup/seeed-voicecard
usr/local/pproxy/users
usr/local/pproxy/setup/missing_pip.txt
usr/local/pproxy/.coverage

cloud.json
goog.txt

usr/local/pproxy/pproxy.code-workspace
usr/local/pproxy/tests/regression/debug_results_*

.Xauthority
.vscode/
.xorgxrdp.*
.xsession-errors

DEBIAN/.control.swp
home_device.code-workspace
