[Unit]
Description=WEPN Metrics Service
After=

[Service]
User=pproxy
ExecStart=/var/local/pproxy/wepn-env/bin/python3 /usr/local/pproxy/system_services/metrics.py
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=pproxy/
WorkingDirectory=/usr/local/pproxy/
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
