[Unit]
Description=WEPN clearing state at shutdown
DefaultDependencies=no
Before=wepn-leds.service wepn-main.service

[Service]
RemainAfterExit=yes
Type=oneshot
User=pproxy
ExecStop=/var/local/pproxy/wepn-env/bin/python3 /usr/local/pproxy/system_services/blank_state.py

[Install]
WantedBy=multi-user.target
